@charset "UTF-8";
/*REBOOT*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.forme_left {
  background: -webkit-gradient(linear, left top, left bottom, from(#E942FF), to(#8838FF));
  background: linear-gradient(#E942FF, #8838FF);
  height: 900px;
  width: 450px;
  border-radius: 0px 0px 800px 400px;
  margin-right: 150px;
  border-bottom: 500px;
}

.telephone {
  position: absolute;
  top: 240px;
  left: 390px;
  border: black,15px;
  background: white;
  height: 600px;
  width: 300px;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 30px grey;
          box-shadow: 5px 5px 30px grey;
}

.telephone_top {
  background: -webkit-gradient(linear, left top, left bottom, from(#E942FF), to(#8838FF));
  background: linear-gradient(#E942FF, #8838FF);
  height: 110px;
  width: 280px;
  border-radius: 20px 20px 10px 10px;
  margin: 10px;
}

.telephone_top_point1, .telephone_top_point2, .telephone_top_point3 {
  height: 3px;
  width: 3px;
  border-radius: 1000px;
  background: white;
  margin-top: 3px;
}

.telephone_top_point_flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 45px;
}

.fleche {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 20px;
}

.sd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  float: left;
}

.paragraphe {
  color: white;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  top: 12px;
  left: 10px;
}

.midle {
  margin-bottom: 12px;
}

.midle2, .midle {
  width: 200px;
  background: rgba(229, 112, 255, 0.4);
  height: 50px;
  border-radius: 15px 15px 15px 0px;
  float: left;
  margin-left: 30px;
  -webkit-box-shadow: 5px 5px 30px grey;
          box-shadow: 5px 5px 30px grey;
}

.lol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-left: 100px;
}

.image_chien1 {
  margin-left: -14px;
}

.image_chien2, .image_chien3 {
  margin-left: 7px;
}

.text_blanc1, .text_blanc2 {
  background: white;
  border-radius: 15px 15px 15px 0px;
  width: 180px;
  height: 45px;
  margin-top: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 70px;
  -webkit-box-shadow: 5px 5px 30px grey;
          box-shadow: 5px 5px 30px grey;
}

.text_blanc3 {
  background: rgba(229, 112, 255, 0.4);
  border-radius: 15px 15px 15px 0px;
  width: 140px;
  height: 45px;
  margin-top: 20px;
  -webkit-box-shadow: 5px 5px 30px grey;
          box-shadow: 5px 5px 30px grey;
}

.text_area {
  margin-top: 30px;
  border-radius: 30px;
}

.image_right_arrow {
  height: 30px;
  width: 30px;
  margin-left: 220px;
  margin-top: -35px;
}

.titre1_right {
  text-align: right;
  color: purple;
  font-size: 45px;
  font-weight: bolder;
  font-family: 'Rubik', sans-serif;
  margin-top: -550px;
  margin-right: 150px;
  text-shadow: 13px 13px 20px grey;
}

.titre1_right_text {
  position: relative;
  left: 795px;
  color: grey;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: initial;
  width: 470px;
  height: 200px;
  margin-top: 50px;
  line-height: 33px;
  text-shadow: 12px 12px 10px grey;
}

.forme_invisible_right {
  height: 500px;
  width: 500px;
  background: rgba(229, 112, 255, 0.1);
  border-radius: 1000%;
  position: relative;
  left: 900px;
  bottom: 200px;
  position: fixed;
}

.carré_radius_telephone {
  height: 48px;
  width: 150px;
  border-radius: 18px;
  background: white;
  position: relative;
  left: 470px;
  bottom: 665px;
  position: fixed;
}
/*# sourceMappingURL=main.css.map */